@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --body-bg: #444444;
  --body-text: #eeeeee;
  --container-bg: #444444;
  --header-bg: #555555;
  --header-text: #eeeeee;
  --header-splitter: #222222;
  --item-bg: #333333;
  --item-text: #eeeeee;
  --link: #00bdd6;
  --error-bg: #ffa8a8;
  --error-text: #5e1717;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--body-bg);
  color: var(--body-text);
  font-family: Lato, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 0;
}

footer {
  background: var(--header-bg);
  color: var(--header-text);
  padding: 0.5em;
  margin: 1em 0 1em 0;
}

a, a:visited {
  color: var(--link);
  text-decoration: none;
}

a:hover, a:focus {
  font-weight: bold;
  text-decoration: underline;
}

.loading {
  background: var(--link);
  padding: 1rem;
  color: var(--header-bg);
  text-align: center;
  font-size: 2rem;
  margin: 10vh 30vw;
}

.error {
  background: var(--error-bg);
  color: var(--error-text);
  padding: 1em;
  font-size: 1.5rem;
  text-align: center;
}

.container {
  background: var(--container-bg);
  max-width: 1200px;
  padding: 1em 2em;
  margin: 0 auto;
}

.channel-header {
  display: flex;
  background: var(--header-bg);
  color: var(--header-text);
  padding: 0.5em;
}

.channel-img {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 140px;
  border-right: 1px solid var(--header-splitter);
  margin-right: 1em;
}

.copyright {
  font-size: 1.1rem;
}

.channel-info {
  flex: 1;
}

.channel-info2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
  padding-left: 0.5em;
  border-left: 1px solid var(--header-splitter);
}

.big-icon {
  margin: 1rem;
  font-size: 50px;
  cursor: pointer;
}

.feed-item {
  background: var(--item-bg);
  color: var(--item-text);
  border: 1px solid var(--item-text);
  border-radius: 0.5em;
  padding: 0.6em 1em;
  margin-bottom: 0.6em;
}

.feed-item header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
}

.feed-item header div.stamp {
  font-size: 0.85rem;
  color: #ccc;
}

div.right {
  width: 16ch;
  text-align: right;
  align-self: flex-end;
}

.feed-item h2 {
  font-size: 1.1rem;
}

.feed-item .feed-body {
  display: flex;
  justify-content: space-between;
}
